body {
  /*background-image: url(img/background.jpg);*/
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-Login{
  border-radius: 5px;
  padding: 10px;
}

.Custom_btn{
  width: 20%;
}
.custom_Input {
  line-height: 2;
  outline: none;
}
.Custom_Container{
  margin-top: 5px;
  max-width: 100%;

}
.btn_custom{
  margin-right: 10px;
}

.Title_custom{
  margin: 35px;
  color: #000;
}
.Logo_style{
  color: #000;
  margin-left: 10px;
}